@import "variables";

// Navigation
nav {
  height: $navheight;
  width: 100%;
  display: flex;
  position: fixed;
  background: #0f1210;
  top: 0;
  z-index: 1000;
  align-items: center;
}

.neontext {
  color: #fff;
  text-shadow: 0 0 7px $accent, 0 0 10px $accent, 0 0 21px $accent,
    0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

.glass {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.title-w-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
}

.devicon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.fa-icon {
  height: 15px;
  width: 15px;
}

// Block説明
.block {
  margin-bottom: 30px;
  .block_label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6px;
    text-align: left;
    color: white;
    margin-bottom: 15px;
    background: #1e1e1e;
    border-radius: 10px;
  }
}
